body p {
    font-size: 14px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: brown;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    text-decoration: underline;
    color: brown;
}

figure figcaption{
   font-style: italic;
   font-size: 11px;
}