body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-shadow: 2px 2px 2px;
  color: gray;
}

h2 {
  font-size: 10px;
  color: blue;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-style: italic;
}

h4 {
  font-weight: bold;
}
