h1,
h2,
p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgrey
}

h1 {
    background-color: cyan;
    color: white;
}

h2 {
    background-color: pink;
    color: white;
}

p {
    background-color: white;
    color: green
}