img {
    width: 500px;
    height: 250px;
    border-style: dotted;
    border-width: 5px;
}

h1 {
    font-size: 32px;
    color: rebeccapurple;
}

h2 {
    font-size: 28px;
    color: rebeccapurple;
    text-decoration: underline;
}

p {
    font-size: 16px;
}